<script src="~/js/Scripts/BooksPage.js"></script>



@functions
{
public bool IsAuthenticated()
{
    return Context.User.Identity.IsAuthenticated;
}
}
<!-- Для чтения получения данных из ViewBag в фале скриптов -->
<input type="hidden" id="idBook" data-value="@ViewBag.Page.IdBook" />
<input type="hidden" id="idPage" data-value="@ViewBag.Page.IdPage" />

<!--Пагинация -->
<input type="hidden" id="idPageNumber" data-value="@ViewBag.pagePagination.PageNumber" />
<input type="hidden" id="idCountPages" data-value="@ViewBag.pagePagination.CountPages" />

<div class="span10 offset1">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bread">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">
                <i class="icon-home"></i>Главная</a>
            </li>
            <li class="breadcrumb-item"><a asp-action="GetBookDescription" asp-controller="BooksDescription" asp-route-IdBook="@ViewBag.Page.IdBook">
                <i class="icon-book"></i>@ViewBag.Page.BookName</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i class="icon-file"></i>Страница: @ViewBag.pagePagination.PageNumber
            </li>
        </ol>
    </nav>

    <br>

    @if (IsAuthenticated())
    {
        <h6 class="title-bg title-bg-white" style="height:25px;">
            <button id="btnUserBookmark" class="btn btn-small btn-warning">Закладка <i class="icon-bookmark"></i></button>
            <span class="right btn-group">
                <button id="btnIncreaseTextSize" class="btn btn-small btn-inverse">Aa+</button>
                <button id="btnReduceTextSize" class="btn btn-small btn-inverse">Aa-</button>
                <button id="btnSaveUserSettings" class="btn btn-small btn-inverse">Сохранить</button>
            </span>
        </h6>
    }
    <div id="PageText" class="project-details project-details-page" style="font-size:@ViewBag.Page.TextFontSize">
        <p style="text-align:justify">
            @Html.Raw(@ViewBag.Page.PageContent)
        </p>

        <p class="pageNamber"> @ViewBag.Page.PageNumber стр.</p>
    </div>


    @*DIV Пагинация*@
    <div id="pagin" class="m-pagination"></div>

</div>