<script src="~/js/Scripts/BooksCategories.js"></script>

@{
    ViewBag.CategoriesPop = ViewBag.ActiveClassPop;
    ViewBag.CategoriesNew = ViewBag.ActiveClassNew;
}

@using LibOnline.Models.Books;
@using LibOnline.Models.Authors;


<!--Пагинация -->
<input type="hidden" id="idPageNumber" data-value="@ViewBag.pagination.PageNumber" />
<input type="hidden" id="idCountPages" data-value="@ViewBag.pagination.CountPages" />


@Html.Partial("_CategoriesPartail")

<div class="span8 gallery">
    <h2 class="title-bg">@ViewBag.pagination.CategoryName</h2>

    <div class="row clearfix">
        <ul class="gallery-post-grid holder">
            @foreach (BooksCatogoriesToShow item in ViewBag.booksCategories)
            {
                <li class="span2 gallery-item">
                    <a asp-controller="BooksDescription" asp-action="GetBookDescription" asp-route-IdBook="@item.IdBook">
                        @*
                            asp-append-version: если имеет значение true, то к пути к файлу скрипта добавляется номер версии
                            Без него не прогружается Image, хоть путь и правильный
                        *@
                        <img asp-append-version="true" src="@item.ImagePath" alt="Gallery">
                    </a>
                    <div class="project-details">
                        <a asp-controller="BooksDescription" asp-action="GetBookDescription" style="text-align:center;height:30pt;overflow: hidden" asp-route-IdBook="@item.IdBook">@item.BookName</a>
                        <p style="text-align:center;margin-top:5px;margin-bottom:5px;">
                            @foreach (Author author in item.BookAuthors)
                            {
                                <em>@author.AuthorFullName</em>
                            }
                        </p>
                    </div>
                </li>
            }<!--foreach-->
        </ul>
    </div>

    @*DIV Пагинация*@
    <div id="pagin" class="m-pagination"></div>
</div><!-- End gallery list-->