@using LibOnline.Models.Books;
@using LibOnline.Models.Authors;




@Html.Partial("_CategoriesPartail")
<div class="span8 gallery">
    <h2 class="title-bg">@ViewBag.pagination.CategoryName</h2>

    <div class="row clearfix">
        <ul class="gallery-post-grid holder">
            @for (var i = 0; i < 24; i++)
            {
                @foreach (BooksCatogoriesToShow item in ViewBag.booksCategories)
                {
                    <li class="span2 gallery-item">
                        <a asp-controller="BooksDescription" asp-action="GetBookDescription" asp-route-IdBook="@item.IdBook">
                            @*
                                asp-append-version: если имеет значение true, то к пути к файлу скрипта добавляется номер версии
                                Без него не прогружается Image, хоть путь и правильный
                            *@
                            <img asp-append-version="true" src="@item.ImagePath" alt="Gallery">
                        </a>
                        <div class="project-details">
                            <a asp-controller="BooksDescription" asp-action="BooksDescription" style="text-align:center" asp-route-IdBook="@item.IdBook">@item.BookName</a>
                            <p style="text-align:center;margin-top:5px;margin-bottom:5px;">
                                @foreach (Author author in item.BookAuthors)
                                {
                                    <em>@author.AuthorFullName</em>
                                }
                            </p>
                        </div>
                    </li>
                }


                @*<li class="span2 gallery-item" data-id="id-1" data-type="illustration">
                        <a asp-controller="BooksDescription" asp-action="BooksDescription"><img src="~/img/Sherlock.jpg" alt="Gallery"></a>
                        <span class="project-details"><a asp-controller="BooksDescription" asp-action="BooksDescription">Шерлок Холмс</a>Казнь Шерлока Холмса</span>
                    </li>*@
            }
        </ul>
    </div>
    <!-- Pagination -->
    <div class="pagination">
        <ul>
            <li class="active"><a href="#">Назад</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Вперед</a></li>
        </ul>
    </div>
</div><!-- End gallery list-->
