@using LibOnline.Models.Books;
@using LibOnline.Models.Authors;
@using LibOnline.Models.Categories;

@{
    BookDescriptionToShow description = ViewBag.booksDescription;
}

@functions
{
public bool IsAuthenticated()
{
    return Context.User.Identity.IsAuthenticated;
}

}


@Html.Partial("_CategoriesPartail")


<div class="span9 gallery-single">
    <div class="row">
        <div class="span4">
            <img src="@description.ImagePath" asp-append-version="true" class="align-left thumbnail" alt="image" />
        </div>
        <div class="span5">
            <h2>@description.BookName</h2>
            @*<p class="lead">For an international ad campaign. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus</p>*@
            <div data-spy="scroll" style="height:250px;overflow:auto; position: relative;padding: 10px;">
                <p align="justify">
                    @description.BooksDescription
                </p>
            </div>
            <br>
            <ul class="project-info">
                <li><h6>Дата:</h6>@description.ReleasedData.Day/@description.ReleasedData.Month/@description.ReleasedData.Year</li>
                <li>
                    <h6>Автор:</h6>
                    @foreach (Author author in description.BookAuthors)
                    {
                        <a asp-controller="BooksCategories" asp-action="GetBooksAuthors"
                           asp-route-IdAuthor="@author.IdAuthor"
                           asp-route-pageNumber="1"
                           asp-route-AuthorFullName="@author.AuthorFullName">
                            @author.AuthorFullName
                        </a>
                        if (@author != description.BookAuthors.Last())
                        {
                            @Html.Raw(", ")
                        }
                    }
                </li>
                <li>
                    <h6>Жанр:</h6>
                    @foreach (Category category in description.BookCategories)
                    {
                        <a asp-controller="BooksCategories" asp-action="GetBooksCategories"
                           asp-route-IdCategory="@category.IdCategory"
                           asp-route-pageNumber="1">
                            @category.CategoryName
                        </a>
                        if (category != description.BookCategories.Last())
                        {
                            @Html.Raw(", ")
                        }
                    }
                </li>
                <li><h6>Рейтинг:</h6>"Звездный" Виджет (1-5 звезд) : @description.RatingValue</li>
            </ul>
            <button id="btnReadBook" class="btn btn-large btn-inverse span2" type="button">Читать</button>
            @if (IsAuthenticated())
            {
                <button class="btn btn-large btn-warning span2" type="button">В избранное</button>
            }
        </div>
    </div>
    <!-- Post Comments
        ================================================== -->
    <section class="comments" name="comments">
        <h4 class="title-bg"><a name="comments"></a>Всего 5 отзывов </h4>
        <ul>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">Имя Пользователя</span>
                <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                <!-- Reply -->
                <ul>
                    <li>
                        @*<img src="img/user-avatar.jpg" alt="Image" />*@
                        <span class="comment-name">Имя Пользователя</span>
                        <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                    </li>
                    <li>
                        @*<img src="img/user-avatar.jpg" alt="Image" />*@
                        <span class="comment-name">Имя Пользователя</span>
                        <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
                    </li>
                </ul>
            </li>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">Имя Пользователя</span>
                <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
            </li>
            <li>
                @*<img src="img/user-avatar.jpg" alt="Image" />*@
                <span class="comment-name">Имя Пользователя</span>
                <span class="comment-date">Февраль 04, 2019 | <a href="#">Отверить</a></span>
                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
            </li>
        </ul>
        <!-- Comment Form -->
        <div class="comment-form-container">
            <h6>Написать отзыв</h6>
            <form action="#" id="comment-form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Name">
                </div>
                <textarea class="span6"></textarea>
                <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="Опубликовать">
                    </div>
                </div>
            </form>
        </div>
    </section>
</div><!-- End gallery-single-->

<script>

    // Ссылка обращается в метод конроллера
    $('#btnReadBook').click(function () {
        debugger;
        var Url = "@Url.Action("GetPageContent", "BooksPage", new { IdBook = ViewBag.booksDescription.IdBook, PageNumber = 1 })";
        $(location).attr('href', Url.replace(/&amp;/g, "&"));
    });
</script>