@using LibOnline.Models.Books;
@using LibOnline.Models.Authors;


@{
    ViewData["Title"] = "Home Page";
}


@functions
{
    public bool IsAuthenticated()
    {
        return Context.User.Identity.IsAuthenticated;
    }

}




@Html.Partial("_CategoriesPartail")
@*http://coderhs.com/archive/raty_star*@
<!-- Page Content
================================================== -->
<div class="span6">
    <!--Begin page content column-->
    <h2 class="title-bg">Популярное</h2>
    <div class="row clearfix">
        <ul class="gallery-post-grid holder">
            @for (int i = 0; i < 6; i++)
            {
                @foreach (BooksCatogoriesToShow item in ViewBag.popularBooks)
                {
                    <li class="span2 gallery-item">
                        <a asp-controller="BooksDescription" asp-action="GetBookDescription" asp-route-IdBook="@item.IdBook">
                            @*
                                asp-append-version: если имеет значение true, то к пути к файлу скрипта добавляется номер версии
                                Без него не прогружается Image, хоть путь и правильный
                            *@
                            <img asp-append-version="true" src="@item.ImagePath" alt="Gallery">
                        </a>
                        <div class="project-details">
                            <a asp-controller="BooksDescription" asp-action="BooksDescription" style="text-align:center" asp-route-IdAuthor="@item.IdBook">@item.BookName</a>
                            <p style="text-align:center;margin-top:5px;margin-bottom:5px;">
                                @foreach (Author author in item.BookAuthors)
                                {
                                    <em>@author.AuthorFullName</em>
                                }
                            </p>
                        </div>
                    </li>
                }
            }
            @*@for (var i = 0; i < 6; i++)
                {
                    <li class="span2 gallery-item" >
                        <a asp-controller="BooksDescription" asp-action="BooksDescription"><img src="~/img/Sherlock.jpg" alt="Gallery"></a>
                        <span class="project-details"><a asp-controller="BooksDescription" asp-action="BooksDescription">Шерлок Холмс</a>Казнь Шерлока Холмса</span>
                    </li>
                }*@
        </ul>
        <h5><a asp-controller="BooksCategories" asp-action="GetPopularBooks" asp-route-pageNumber="1" class="pull-right"><i class="icon-th"></i>Полностью</a></h5>
    </div>

    <h2 class="title-bg">Новое</h2>
    <div class="row clearfix">
        <ul class="gallery-post-grid holder">
            @for (int i = 0; i < 6; i++)
            {
                @foreach (BooksCatogoriesToShow item in ViewBag.newBooks)
                {
                    <li class="span2 gallery-item">
                        <a asp-controller="BooksDescription" asp-action="GetBookDescription" asp-route-IdBook="@item.IdBook">
                            @*
                                asp-append-version: если имеет значение true, то к пути к файлу скрипта добавляется номер версии
                                Без него не прогружается Image, хоть путь и правильный
                            *@
                            <img asp-append-version="true" src="@item.ImagePath" alt="Gallery">
                        </a>
                        <div class="project-details">
                            <a asp-controller="BooksDescription" asp-action="BooksDescription" style="text-align:center" asp-route-IdAuthor="@item.IdBook">@item.BookName</a>
                            <p style="text-align:center;margin-top:5px;margin-bottom:5px;">
                                @foreach (Author author in item.BookAuthors)
                                {
                                    <em>@author.AuthorFullName</em>
                                }
                            </p>
                        </div>
                    </li>
                }
            }
        </ul>
        <h5><a asp-controller="BooksCategories" asp-action="GetNewBooks" asp-route-pageNumber="1" class="pull-right"><i class="icon-th"></i>Полностью</a></h5>
    </div>
</div> <!--End page content column-->
<!-- Page Right Sidebar
================================================== -->

<div class="span3 sidebar page-rigth-sidebar">
    <!--Latest News-->
    <h5 class="title-bg">Новое на сайте</h5>
    <ul class="span2 popular-posts">

        @for (int i = 0; i < 3; i++)
        {
            @foreach (BooksCatogoriesToShow item in ViewBag.recentlyAddedBooks)
            {
                <li class="span2 gallery-item">
                    <em style="display:block; text-align:center">Добавленно @item.AddedDate.Day/@item.AddedDate.Month/@item.AddedDate.Year</em>
                    <a asp-controller="BooksDescription" asp-action="GetBookDescription" asp-route-IdBook="@item.IdBook">
                        @*
                            asp-append-version: если имеет значение true, то к пути к файлу скрипта добавляется номер версии
                            Без него не прогружается Image, хоть путь и правильный
                        *@
                        <img asp-append-version="true" src="@item.ImagePath" alt="Gallery">
                    </a>
                    <div class="project-details">
                        <a asp-controller="BooksDescription" asp-action="BooksDescription" style="text-align:center" asp-route-IdAuthor="@item.IdBook">@item.BookName</a>
                        <p style="text-align:center;margin-top:5px;margin-bottom:5px;">
                            @foreach (Author author in item.BookAuthors)
                            {
                                <em>@author.AuthorFullName</em>
                            }
                        </p>
                    </div>
                </li>
            }
        }
    </ul>
</div><!-- End sidebar column -->
