
@functions
{
public bool IsAuthenticated()
{
    return Context.User.Identity.IsAuthenticated;
}

}



<div class="row header">
    <!-- Begin Header -->
    <!-- Logo
    ================================================== -->
    <div class="span5 logo">
        <a asp-controller="Home" asp-action="Index"><img src="~/img1/piccolo-logo.png" alt="" /></a>
        <h4>Читай любимые книги бесплатно</h4>
    </div>

    @*Main Navigation*@
    <nav class="navigation">
        <div class="navbar">
            <ul class="nav" id="idHeader">
                <li class="@ViewBag.Home"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li class="@ViewBag.CategoriesPop"><a asp-controller="BooksCategories" asp-action="GetPopularBooks" asp-route-pageNumber="1">Популярное</a></li>
                <li class="@ViewBag.CategoriesNew"><a asp-controller="BooksCategories" asp-action="GetNewBooks" asp-route-pageNumber="1">Новинки</a></li>

                @if (!IsAuthenticated())
                {
                    <li class="@ViewBag.Login"><a asp-controller="Account" asp-action="Login">Вход</a></li>
                }
                else
                {
                    <li class="@ViewBag.UserPage"><a asp-controller="UserPage" asp-action="UserPage" asp-route-pageNumber="1">Моя Библиотека</a></li>
                    <li><a asp-controller="Account" asp-action="LogOut"><b>(@Context.User.Identity.Name)</b> Выход</a></li>
                }
                    <li id="idAdminLI" style="display:none"><a asp-controller="Admin" asp-action="Index" asp-area="Admin"><b style="color:red">Я</b> Админ</a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Header -->

